.Mobile{
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    background-color: rgb(0, 100, 0);
    color: white;
    height: 100vh;
    overflow-y: scroll;
    transition: 2s;
    z-index: 500;
    box-shadow: -2px -2px 2px black;
}

.Mobile .labbel{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #008080;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    text-shadow: 1px 0px #008080
}
li{
    text-align: left;
}

.labbel2 {
    display: block;
    padding-left: 30px;
    width: 100%;
    box-sizing: border-box;
    border-top:solid 1px rgba(255, 255, 255,0.1);
    border-bottom: 1px solid black;
    line-height: 30px;
    padding: 5px;
    padding-left: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.labbel2:hover {
    padding-left: 35px;
    color: rgb(204, 207, 203);
}
.close{
    position: fixed;
    right: 20px;
    cursor: pointer;
    background-color: white;
    padding: 0px 10px;
    border-radius: 5px;
    color: red;
}

.menuBarMobile .collapsible, .menuBarMobile .collapsible-body, .menuBarMobile .collapsible-header{
    background-color: rgb(0, 100, 0) !important;
    border: none;
}
.menuBarMobile .collapsible-header{
    line-height: 0 !important;
    padding: 0 !important;
    flex-direction: column;
}

.menuBarMobile .collapsible-body ul li{
    display: block !important;
    height: 40px !important;
    text-align: left !important;
}

.menuBarMobile .collapsible-body {
    padding: 20px 0px 0px 15px !important;
}

.Mobile-Container{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    height: 100vh;
    z-index: 499;
}